
@import url('https://fonts.googleapis.com/css2?family=Gulzar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Blaka+Ink&family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blaka+Ink&display=swap');
*{ 
  font-family: 'Gulzar', serif;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.header{
  background-color: #ececec;
  justify-content: space-between;
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 10px 130px;
  align-items: center;

}

.name{
  font-weight: 500;
  font-size: 1.4em;
  text-transform: uppercase;
  color: #dd0a0a;
  text-decoration: none;
  font-family: 'Kaushan Script', cursive;
}
nav a{
  padding-left: 20px; 
  font-weight: 500;
  font-size: 1.1em;
  color: rgb(15, 12, 180);
  text-decoration: none;
}
nav a:hover{
  color:rgb(168, 12, 12);
}

section{
  padding: 100px;;
}
.main{
  background: url(icons/web.png)no-repeat;
  display: flex;
  width: 100%;
  background-size: cover;
  align-items: center;
  min-height: 150vh;
  background-position: center;
}



.main h2{
  font-size:5em ;
  text-align: center;
  font-weight: 600;
  color:rgb(255 102 0);
  font-family: 'Gulzar', serif;
}

.main h2 span{
  display: inline-block;
  color:#908e08;
  font-size: 1.10em;
  font-weight: 600;
  font-family: 'Kaushan Script', cursive;
}

.main h3{
  font-size: 2em;;
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Amiri Quran', serif;
}


.main-btn{
  display: inline-block;
  text-decoration: none;
  background-color: #3a6cf4;
  color: #ffffff;
  padding: 15px;
  border-radius: 7px;
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 30px;
  text-align: center;
  transition: 0.7s ease;
}

.main-btn:hover{
  transform: scale(1.2);
 background-color:#0a49f6;
}

.social-icon a{
  color: #fff;
  font-size: 1.7em;
  padding-right: 30px;
}

.title{
  text-align: center;
  font-size: 2.2em;
  color: #0003a8;
  display: flex;
  justify-content: center;
  font-family: 'Blaka Ink', cursive;
}

.content{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.card{
  background-color: #ffffff;
  width: 21.25em;
  justify-content: center;
  box-shadow: 0 20px 25px rgba(1, 1, 1, 15%);
  border-radius: 10px;
  margin: 15px;
  padding: 10px;
  transition: 0.7s ease;
}
.card:hover{
  transform: scale(1.2);
}
.icon{
  font-size: 4em;
  text-align: center;
  color:#f4503a;
}

.info h3{
  font-size: 2em;
  font-weight: bolder;
  text-align: center;
  color:#c03434 ;
}



.projects h2{
  text-align: center;
  font-size: 2.2em;
  color: #c51a1a;
  display: flex;
  justify-content: center;
  
}

.image-a{
  vertical-align: center;
  margin: auto;
  height: 50%;
  width: 60%;
}

#contact{
  padding:112px 48px;
  margin:auto;
  width:80%
}

.contactHeading{
  font-size:2.5rem;
  text-align:center;
  color:rgb(207, 17, 17);
  margin:1.6rem auto
}

.required {
  color: red;
}
/*.contactForm{
  text-align:center; margin:2rem auto; 
}

.contactForm form{
  padding:24px 0;
  background-color:#af1a1a;
  width:30rem;
  margin:auto
}

.contactForm form label{
  font-size:1.75rem;
  font-weight:400;
  color:#fff;
  padding:24px
}*/
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col {
  flex-basis: calc(50% - 10px);
  margin-bottom: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

.contactForm form input,textarea{outline:0;border:0;border-bottom:1px solid #916bbf;margin:1rem auto;color:rgb(8, 6, 4);font-size:1.5rem;background:0 0;transition:.4s}textarea{resize:vertical}

.contactForm form input:focus,textarea:focus{border-bottom:1px solid #674d88;padding: 5px 8px}

.contactForm form button{outline:0;border:0;color:rgb(38, 146, 79);text-align:center;margin:1rem auto;padding:12px 24px;background-color:#6a4796;transition:.4s;border-radius:2px;cursor:pointer}

.contactForm form button:hover{
  background-color:#4602ff
}

/* تنسيق الفوتر */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer p {
  margin: 0;
  font-size: 18px;
}
.typing-effect {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.typing-effect .text::after {
  content: "|";
  margin-left: 5px;
  animation: cursor-blink 0.7s ease infinite;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*/.footer{
  background-color: #090d33;
  color: rgb(238, 227, 227);
  display: flex;
  justify-content: space-between;
  padding: 1.5em;
  align-items: center;
}

.footer span{
  color: #cac707;
  font-size: 1.2em;
}

.footer .social-icon{
  color: white;
  font-size: 2em;
}
.footer p{
  font-size: 1.75em;
 text-align: center;
}*/

.btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: aqua;
  color: #fff;
  border: none;
  outline: none;
}

.btn-back-to-top i {
  font-size: 24px;
  margin-top: 13px;
}